[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "ROAuth"]
	path = ROAuth
	url = https://github.com/pablobarbera/roauth
[submodule "Rfacebook"]
	path = Rfacebook
	url = https://github.com/pablobarbera/rfacebook
	subdir = Rfacebook
[submodule "instaR"]
	path = instaR
	url = https://github.com/pablobarbera/instar
	subdir = instaR
[submodule "streamR"]
	path = streamR
	url = https://github.com/cran/streamR
